{{ define "main" }}
<style type="text/css">
    #header {
        height: 60vh;
    }
    #nav {
        bottom: 40vh;
    }
</style>
{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "!=" "" }}
<div class="list-link">
    {{ if .Params.cover }}
        <div class="list-link-header" style="background: url('{{ .Params.cover }}'); background-size: cover; background-repeat: no-repeat; background-position: center center; color: var(--highlight-color); background-color: var(--highlight-color-dark); background-blend-mode: multiply;">
    {{ else }}
        <div class="list-link-header">
    {{ end }}
            <h2><a href="{{ .RelPermalink }}">// {{ .Title }}</a></h2>
            {{ partial "metadata.html" . }}
            <p><a href="{{ .RelPermalink }}">{{ .Summary }}... <u>more...</u></a></p>
        </div>
</div>
{{ end }}
{{ end }}