{{ define "main" }}
<h1 class="title">{{ .Site.Title }}</h1>
{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "!=" "" }}
<p>
    <h2><a class="list-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ partial "metadata.html" . }}
    <a class="list-link" href="{{ .RelPermalink }}">
        <p>
            {{ if .Params.cover }}
            <img class="list-cover" src="{{ .Params.cover }}">
            {{ end }}
            {{ .Summary }}
        </p>
    </a>
    <div class="clearfix">&nbsp;</div>
</p>
{{ end }}
{{ end }}