html, body {
    margin: 0;
    font-family: "Text";
}

#content {
    margin-left: 5vw;
    margin-right: 5vw;
}

#header {
    font-family: "Headline";
    width: 100vw;
    height: 100vh;
    color: var(--highlight-color); 
    background-color: var(--highlight-color-dark);
    background-blend-mode: multiply;
}

#title {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 30vh;
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
}

#meta {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 1vh;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--highlight-color-bright);
}

#meta  a{
    text-transform: uppercase;
    color: var(--highlight-color-bright);
}

#nav {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 1vh;
    position: absolute;
    bottom: 0;
}

#nav a {
    font-size: 1em;
    color: var(--highlight-color);
    text-decoration: none;
    text-transform: uppercase;
}

#nav a:hover {
    color: var(--highlight-color-bright);
}

.list-link-header a {
    color: var(--highlight-color);
    text-decoration: underline;
}

.list-link-header h2 a, .list-link-header p a {
    color: var(--highlight-color);
    text-decoration: none;
}

.list-link-header h2 a:hover, .list-link-header a:hover {
    color: var(--highlight-color-bright);
}

.list-link-header {
    margin-top:1em;
    padding: 5vw;
    width: 80vw;
    min-height:4em;
    color: var(--highlight-color); 
    background-color: var(--highlight-color-dark);
    background-blend-mode: multiply;
}

#footer {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:1em;
    padding: 0.5em;
    width: 90vw;
    color: var(--highlight-color); 
    background-color: var(--highlight-color-dark);
    background-blend-mode: multiply;
    text-transform: uppercase;
}

#footer a, #footer p {
    color: var(--highlight-color);
}

.photo {
    margin-top: var(--default-margin);
    width: 100%;
}

.photo-caption {
    text-align: right;
}

.highlight pre {
    padding: var(--default-margin);
}