{{ define "main" }}
{{ if .Params.cover }}
<style type="text/css">
    #header {
        background: url("{{ .Params.cover }}");
        background-size:     cover;                      
        background-repeat:   no-repeat;
        background-position: center center;  
        color: var(--highlight-color); 
        background-color: var(--highlight-color-dark);
        background-blend-mode: multiply;
    }
    </style>
{{ end }}
{{ .Content }}

{{ with .Params.images }}
{{ range . }}
<img class="photo" src="{{ . }}">
{{ end }}
{{ end }}


{{ end }}